@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Courgette&family=Gochi+Hand&family=Pacifico&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Baloo Tammudu 2", cursive;
  background-image: url("./icons/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.display {
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
}
.ui.container {
  height: 70%;
}

.temperature {
  position: absolute;
  margin-top: 1%;
  margin-left: 30%;
  align-items: center;
  font-size: 6rem;
  font-family: "Dosis", sans-serif;
  color: pink;
  opacity: 0.7;
}
.weather-icon img {
  position: absolute;
  margin-top: 10%;
  margin-left: 30%;
}

.notif {
  color: #ffffff;
  font-size: 1.3rem;
  font-family: "Courgette", cursive;
}
.notif span {
  display: inline;
}

.temp-location {
  font-size: 2.5rem;
  padding-top: 5%;
}
.temp-description {
  font-size: 1.5rem;
  color: #91a307;
  padding-top: 3%;
  margin-top: 20%;
}
.wind-val,
.humidity-val {
  font-size: 1.3rem;
  color: #ffffff;
}
.cityInput {
  font-family: "Dosis", sans-serif;
  color: #ffffff !important;
  font-size: 1rem;
  background-color: rgb(231, 201, 206) !important;
}
.input-container h3 {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: pink;
}

@media only screen and (min-width: 481px) {
  .temperature {
    margin-left: 40%;
  }
  .temp-description {
    margin-top: 20%;
  }
  .weather-icon img {
    margin-left: 40%;
  }
}
@media only screen and (min-width: 769px) {
  .cityInput {
    font-size: 1.5rem;
  }
  .temperature {
    font-size: 5rem;
    margin-top: 3%;
  }
  .temp-icon img {
    margin-top: 55%;
  }
  .weather-icon img {
    margin-left: 40%;
  }
}
@media only screen and (min-width: 1025px) {
  .display {
    margin-top: 2%;
    padding-top: 2%;
  }
  .ui.container {
    width: 50%;
    height: 70%;
  }
  .temperature {
    margin-top: 1%;
    margin-left: 41%;
    font-size: 7rem;
  }
  .weather-icon img {
    margin-top: 6%;
  }
  .temp-description {
    margin-top: 10%;
  }
  .temp-description,
  .wind-val,
  .temp-location,
  .notif {
    padding-top: 1%;
  }
}
